body {
  box-sizing: border-box;
  padding: 20px;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: column;
  width: auto;
  /* height: 2000px; */
}
.header {
  display: flex;
  justify-content: flex-end;
  height: 120px;
  width: 3040px;
  justify-content: center;
  align-items: center;
  gap: 112px;
}
.head-content {
  display: flex;
  /* font-size: xxx-large; */
  margin-left: 1500px;
  width: 1500px;
  justify-content: space-between;
}
.head-toggle {
  display: flex;
  width: 300px;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.slider round {
  border-radius: 34px;
}
.content-pic {
  display: flex;
  width: 100%;
  height: 1160px;
  /* flex-direction: column; */
}
.card-content1 {
  display: flex;
  /* flex-direction: column; */
  width: 50%;
  height: 0;
}
.content {
  display: flex;
  height: 800px;
  width: 100%;
  /* background-color: purple; */
  flex-direction: column;
  justify-content: center;
  font-size: 45px;
  margin-left: 257px;
}
.pic {
  display: flex;
  height: 800px;
  width: 50%;
  /* background-color: rgb(43, 226, 208); */
}
.button {
  width: 486px;
  background-color: #e1a30e;
  height: 93px;
  margin-left: 6px;
  font-size: 35px;
  color: white;
  /* border: 2px solid black; */
  border-radius: 21px;
}
.pic {
  display: flex;
  justify-content: center;
}

.intro-pic {
  height: 1192px;
  width: 1290px;
}
.content-pic2 {
  display: flex;
  width: 100%;
}
.yellow-round {
  display: flex;
  width: 50%;
  height: 750px;
  margin-left: 320px;
}
.content-card2 {
  display: flex;
  width: 50%;
  flex-direction: column;
  /* justify-content: space-between; */
}
.buttons {
  display: flex;
  gap: 30px;
}
.content2 {
  display: flex;
  flex-direction: column;
  font-size: 50px;
}
.link-button {
  background-color: #e1a30e;
  color: white;
  width: 232px;
  height: 72px;
  font-size: 30px;
  /* border: 3px solid black; */
  border-radius: 11px;
}
.curr-button {
  background-color: #e1a30e;
  color: white;
  width: 232px;
  height: 72px;
  font-size: 30px;
  /* border: 3px solid black; */
  border-radius: 11px;
}
.h4 {
  font-size: 65px;
}
.para2 {
  font-size: 40px;
}
.second-para {
  font-size: 40px;
}
.sixcard-container {
  display: flex;
  /* background-color: red; */
  /* height: 2000px; */
  width: 100%;
  justify-content: center;
}
.sixcards {
  display: flex;
  flex-wrap: wrap;
  /* background-color: blue; */
  /* margin: 0px 407px 0px 407px; */
  /* margin: 250px 407px 0px 377px; */
  row-gap: 62px;
  column-gap: 112px;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
}
.card1 {
  display: flex;
  width: 670px;
  height: 548px;
  background: #ebebeb;
  /* border: 2px solid black; */
  border-radius: 20px;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
}
.p1 {
  font-size: 52px;
}
.p2 {
  font-size: 35px;
}
.b-size {
  width: 215px;
  height: 80px;
  /* font-size: 30px; */
  background-color: #e1a30e;
  /* border: 2px solid black; */
  border-radius: 15px;
  color: white;
  font-size: 28px;
}
.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: small;
  /* background-color: red; */
  height: 539px;
  width: 604px;
  margin-left: 51px;
}
.rocket {
  display: flex;
  /* background-color: red; */
  width: 100%;
  justify-content: center;
}
.rocket-pic {
  display: flex;
}
.habbi-container {
  display: flex;
  width: 100%;
  height: 1000px;
  /* background-color: red; */
}
.habbi-para {
  display: flex;
  width: 50%;
  /* background-color: blue; */
  /* height: 100px; */
  flex-direction: column;
  font-size: 50px;
  justify-content: center;
  /* margin-left: 155px; */
  padding-left: 155px;
}
.h1-head {
  margin-left: 35px;
}
.p-para {
  margin-left: 35px;
}
.habbi-pics {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
.habbi-image {
  display: flex;
  width: 68%;
  height: 520px;
}
.worldpic-container {
  display: flex;
  width: 100%;
  /* background-color: red; */
  height: 1000px;
}
.worldpic {
  display: flex;
  width: 30%;
}
.worldpic-para {
  display: flex;
  width: 54%;
  /* gap: 135px; */
  background-color: #ebebeb;
  /* justify-content: center; */
  /* padding: 6px 102px 3px 20px; */
  justify-content: center;
  margin-left: 659px;
  height: 633px;
  margin-top: 239px;
}
.first-para {
  display: flex;
  /* flex-direction: column;
  width: 860px;
  /* background-color: yellow; */
  /* justify-content: center; */
  /* align-items: center; */
  /* font-size: 36px;  */
}
.programa-para {
  margin-left: 20px;
}
.para-background {
  display: flex;
  flex-direction: column;
  width: 638px;
  /* background-color: yellow; */
  justify-content: center;
  /* align-items: center; */
  font-size: 32px;
  margin-left: 159px;
}
.undarwlost-container {
  display: flex;
  /* background-color: red; */
  width: 100%;
  height: 1050px;
}
.last-para {
  display: flex;
  /* background-color: yellow; */
  width: 60%;
  /* flex-direction: column; */
  background-color: #ebebeb;
  height: 683px;
}
.last-pic {
  display: flex;
  /* background-color: blue; */
  width: 60%;
  justify-content: end;
}
.lastpara1 {
  display: flex;
  background-color: #ebebeb;
  height: 633px;
  width: 61%;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  font-size: 33px;
  margin-top: 50px;
  padding-left: 165px;
}
.para-background {
  display: flex;
  background-color: #ebebeb;
}
.footer {
  display: flex;
  width: 100%;
  background-color: #e1a30e;
  height: 500px;
  justify-content: center;
}
.footer-image {
  display: flex;
  gap: 100px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.input:checked + .slider {
  background-color: #2196f3;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

.input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  /* -webkit-transition: 0.4s; */
  transition: 0.4s;
}
